# Node modules
node_modules/

# Build output
build/
dist/
out/

# Environment variables
environment/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.iml

# Package lock files
package-lock.json
yarn.lock